
matplotlib
numpy
shapely
ortools
Dijkstar
networkx
scikit-learn

lib-logger

# For the exec wrapper:
psutil

# For code analysis:
pprofile
pyinstrument

# For the worker:
boto3
requests

# For tests and linting:
pytest
pylint
